.accordion-segment {
  background-color: rgba(135, 136, 138, 0.1);
  border-bottom: solid white 10px;
}

.accordion-segment__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
}

.accordion-segment__header:hover {
  background-color: rgba(135, 136, 138, 0.7);
}

.accordion-segment__title {
  margin-left: 20px;
  font-weight: bold;
  font-size: 22px;
}

.accordion-segment__dropdown-icon {
  height: 20px;
  margin-right: 20px;
}


.accordion-segment__inner-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.accordion-segment__inner-container-hidden {
  display: none;
}

.accordion-segment__btn-container {
  margin: 25px 0;
}
