.project-details-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
  padding: 0 20px;
}

.project-details-container {
  min-width: 1000px;
  height: 70vh;
}
