#search-box__wrapper {
  position: relative;
  bottom: 50px;
  width: 290px;
  height: 59px;
}
#search-box__input {
  box-sizing: border-box;
  position: relative;
  bottom: 50px;
  left: 5px;

  width: 274px;
  height: 40px;
  padding: 9px 35px 9px 10px;
  line-height: 1.3em;
  font-size: 16px;
  border: 1px solid white;
}

#search-box:focus {
  outline: none;
}

#search-box__bern-colors {
  width: 285px;
  height: 52px;
}

#search-box__x {
  height: 20px;
  position: relative;
  left: 250px;
  bottom: 80px;
  cursor: pointer;
}