.nav-bar {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

a.nav-bar__item , div.nav-bar__item{
  background-color: rgb(213, 0, 41);
  font-weight: bold;
  color: white;
  display: inline-block;
  border-right: solid 1px white;
  padding: 16px;
}

.nav-bar__item:hover {
  background-color: rgba(213, 0, 41, 0.6);
  color: #fff;
  /* display: inline-block;
  border-right: solid 1px white;
  padding: 16px;
  cursor: pointer; */
}

div.nav-bar__item--logout {
  color: rgba(0,0,255, 0.6);
  margin-left: 5px;
  cursor: pointer;
}

.nav-bar__item--active {
  background-color: white;
  color: grey;
  display: inline-block;
  border-right: solid 1px white;
  padding: 16px;
  cursor: pointer;
}

/* .nav-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  
} */

.nav-link:hover {
} 