.overview__container {
height: 70vh;
}

.overview--wrapper {
  display: flex;
  justify-content: flex-start;
}

.overview__top-header {
  width: 80%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overview__new-project__container {
  position: relative;
  right: 60px;
}

.overview__new-project__button {
  width: 150px;
  height: 35px;
  margin-right: 25px;
  font-size: 12pt;
  border-radius: 3px;
  background-color: rgba(221, 221, 221, 0.3);
  cursor: pointer;
  outline: 0;
}

.overview__new-project__button:hover {
  background-color: rgb(105, 0, 0);
  color: #fff;
}


.overview__project-manager--header {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-weight: bold;
}

.overview__projects--header {
  width: 80%;
  display: flex;
  padding: 0 10px;
  font-weight: bold;
}

.overview__projects--header--project-name {
  flex: 6;
}
.overview__projects--header--project-manager {
  flex: 3;
}
.overview__projects--header--project-status {
  flex: 1;
}

.overview__projects--wrapper {
  width: 80%;
}

.overview__new-project-input {
  height: 40px;
  width: 300px;
  border: 1px solid #ddd;
  padding-left: 15px;
  font-size: 12pt;
  overflow: scroll;
  color: #777;
  font-family: sans-serif;
  background-color: #fff;
  border-radius: 3px;
  outline: none;
}

#overview__managers--wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.new-project-manager {
  background-color: rgb(135, 136, 138, 0.1);
  border-bottom: solid white 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 350px;
}

.new-project-manager__header-wrapper {
  padding: 7px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.new-project-manager__header-wrapper:hover {
  background-color: rgb(135, 136, 138, 0.7);
}

#plus {
  height: 25px;
}

.new-project-manager__header {
  font-size: 16px;
  font-weight: bold;
}

.new-project-manager__inner-container {
  width: 100%;
  align-self: center;
  padding: 10px;
}

.new-project-manager__inner-container--hidden {
  display: none;
}

.overview__project-manager-accordion > div > div > div {
  font-size: 16px;
}

div.manager-details-form__input-container {
  width: 90%;
  margin: 0px auto;
  /* display: flex;
  flex-direction: column; */
  flex: none;
}

div.manager-details-form__button-container {
  margin: 15px 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

button.manager-details-form__button {
  margin: 5% 15px;;
}

div.overview__project-manager-accordion__inner-container {
  padding: 0;
}