.overview--wrapper {
  display: flex;
}

.overview__projects--wrapper {
  flex: 2;
  margin-right: 25px;
  margin-left: -50px;
  padding-left: 10px;
  padding-right: 0px;
}

.overview__managers--wrapper {
  flex: 1
}