.manager-details-form.generic-form-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.manager-details-form__button {
  /* width: 100px; */
  margin-top: 10px;
  margin-left: 0px;
}

.manager-details-form__container {
  width: 300px;
}
.manager-details-form__input-container {
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.new-project-manager__inner-container {
  align-items: flex-start;
}

.manager-details-form-wrapper {
  width: 100%;
}
