* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 80vw;
}

.hidden-element {
  display: none !important;
}

a, a:visited, a:active, a:focus {
  text-decoration: none;
  color: rgb(148, 0, 0);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 30px;
  width: calc(100% - 60px);
}