.registration-page-container {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-form {
  border: solid#d3d3d3 1px;
  width: 700px;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.registration__input-wrapper {
  height: 98px;
}

.registration__input {
  box-sizing: border-box;
  width: 300px;
  padding: 9px 35px 9px 10px;
  margin: 12px;
  font-size: 16px;
  height: 40px;
}

#password,
#password_repeat {
  width: 300px;
}

#password-wrapper {
  position: relative;
  right: 15px;
}

#password-repeat-wrapper {
  position: relative;
  right: 40px;
}
